*.iml

*.cxx
*.apk
*.gradle
*.apk
*.aab
*.json
*.DS_Store
*.externalNativeBuild

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

/build
/captures
/local.properties

/app/debug
/app/release
/app/roomSchemas

/app/MORECX_CLOUD_
/app/MORECX_BOHUMDOTCOM_
/app/MORECX_WELCOMELOAN_
/app/MORECX_WELCOMEBANK_

/app/keystore/keystore.properties
