<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.hongstudio.sitezip">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="kr.co.hongstudio.sitezip.App"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/google_admob_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBAw8I5RPfEeKC-3rfz-jGuVpE_jQzMJ4"/>

        <!-- MainActivity -->
        <activity
            android:name="kr.co.hongstudio.sitezip.ui.screen.MainActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        &lt;!&ndash; service &ndash;&gt;-->
<!--        <service-->
<!--            android:name=".service.GpsService"-->
<!--            android:exported="false" />-->

    </application>
</manifest>